<div style="font-family: arial; text-align: center;">

  <br /><br /><br /><br />
  <br /><br /><br /><br />

    <h1>
      Berichtsheft <br />
    </h1>
    <h2>
      von <br />
      Auszubildende/r <br />
      {{ traineeForename }} {{ traineeSurname }}
    </h2>

  <br /><br /><br /><br />
  <br /><br /><br /><br />

    <h3>
      Ausbilder/in<br />
      {{trainerTitle}} {{ trainerForename }} {{ trainerSurname }}<br />
      {{ companyName }}<br />
      {{ companyStreet }}<br />
      {{ companyCity }}
    </h3>

</div>
