<body style="font-family: arial;">
  <div style="border-bottom: 1px solid black;">
    <p>
      <strong>Ausbildungsnachweis</strong>
    </p>
    <p>
      Name des Auszubildenden: {{ traineeForename }} {{ traineeSurname }}
      <br />
      Ausbildungsberuf: {{ jobTitle }}
      <br />
    </p>
  </div>
  <br />

  <div style="padding: 10px; padding-top: none; padding-bottom: none; border: 1px solid black; background-color: #F0F0F0;">
      <p>
        {% if report.category() == "SCHOOL" %}

          Kategorie: Schule

        {% elseif report.category() == "COMPANY" %}

          Kategorie: Betrieb

        {% endif %}

        <br />
        Kalenderwoche: {{ report.calendarWeek() }}
        <br />
        Ausbildungsjahr: {{ trainingYear }}
        <br />
        Ausbildungswoche vom {{ weekInfo.start }} bis {{ weekInfo.end }}
      </p>
  </div>
  <div style="padding: 10px; border: 1px solid black; border-top: none;">
    {{ report.content()|raw|nl2br }}
  </div>

  <br />

  <p style="padding: 10px; height: 30px">
    Durch die nachfolgenden Unterschriften wird die Richtigkeit und Vollständigkeit der obigen Angaben bestätigt.
  </p>

  <br />

  <div class="row">
    <div style="float: left; width: 330px;">
      <p style="border-top: 1px solid black;">
        Datum, Unterschrift Auszubildende/r
      </p>
    </div>

    <div style="float: right; width: 330px;">
      <p style="border-top: 1px solid black;">
        Datum, Unterschrift des Ausbilders/der Ausbilderin
      </p>
    </div>
  </div>

</body>
