wl
/app/log.txt
/tests/Notification/log.txt
/reports/
/users/
/vendor/
/build/
/docs/
/scripts/composer
/scripts/jsonlint
/scripts/phpcbf
/scripts/phpcs
/scripts/phpdoc
/scripts/phpdoc.php
/scripts/phpunit
/scripts/validate-json
.DS_Store
.env
/benchmarks/FixtureReports/
.vscode
/app/pdf/Deckblatt.pdf
/app/pdf/Berichte.pdf
/app/pdf/Berichtsheft.pdf
