<div class="form-horizontal">
{% for comment in comments %}
  {% set editActive = false %}
  {% set user = appService.findUserById(comment.userId()) %}

    <div class="row comment-box">
        <div class="col-md-2">
            <div class="thumbnail comment-picture">
                <img class="img-responsive user-photo" src="/profile/image?id={{ comment.userId() }}">
            </div>
        </div>
        <div class="col-md-10 comment-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ user.username() }}</strong>
                    <span class="text-muted">{{ comment.date()|date("d.m.Y H:m") }}</span>

                    {% if comment.userId() == userId %}

                        <div class="float-right">
                            <form action="/comment/deleteComment" method="POST">

                                <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}"/>
                                <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}"/>
                                <input type="hidden" name="userId" value="{{ userId }}">
                                <input type="hidden" name="commentId" value="{{ comment.id() }}">
                                <button type="submit" class="btn-link glyphicon glyphicon-trash" onclick="return confirm('Soll der Kommentar wirklich gelöscht werden?')" aria-hidden="true"></button>

                            </form>
                        </div>

                        <div class="float-right">
                            <a data-parent="#wrap" data-toggle="collapse" data-target=".edit{{ comment.id() }}" class="glyphicon glyphicon-pencil"></a>
                        </div>

                    {% endif %}

                    <div class="float-right">
                      {% if comment.status() == constant('\\Jimdo\\Reports\\Reportbook\\Comment::STATUS_EDITED') %}
                        <span class="text-muted">{{ viewHelper.getTranslationForStatus(comment.status()) }}&nbsp;</span>
                      {% endif %}
                    </div>

                </div>

                <div class="panel-body" id="wrap">

                  <div class="edit{{ comment.id() }} collapse in">
                    {{ comment.content()|raw }}
                  </div>

                    <div class="edit{{ comment.id() }} collapse">
                        <form action="/comment/editComment" method="POST" class="form-horizontal">

                            <div class="card card-block">
                                    <input type="hidden" name="reportId" value="{{ reportId }}">
                                    <input type="hidden" name="userId" value="{{ userId }}">
                                    <input type="hidden" name="commentId" value="{{ comment.id() }}">
                                    <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}">
                                    <textarea name="newComment" class="form-control editable comment-edit">{{ comment.content() }}</textarea>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="edit{{ comment.id() }} collapse form-group">
      <div  class="col-sm-offset-10 col-sm-2 ">
        <button class="btn btn-md btn-default btn-block button-large float-right" type="submit">Speichern</button>
      </div>
    </div>
  </form>

{% endfor %}

    {% if showCreateCommentButton %}
        <p class="form-control-static">
            <button class="btn btn-default btn-block button-large float-right" data-toggle="collapse" data-target="#createComment">Kommentar verfassen</button>
        </p>
    {% endif %}

    <br />

    <div class="form-group">
        <div class="collapse" id="createComment">
            <form action="/comment/createComment" method="POST" class="form-horizontal">
                <div class="card card-block">

                  <div class="col-sm-offset-2 col-sm-10">
                    <textarea type="textarea" name="content" class="form-control editable medium-editor-textarea comment-create" id="createComment" rows="5" placeholder="Dein Kommentar"></textarea></br>
                      <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}" />
                      <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}" />
                      <button class="btn btn-md btn-default btn-block button-large float-right" type="submit">Speichern</button>
                </div>
                </div>
            </form>
        </div>
    </div>

</div>
{% include 'MediumEditor.html' %}
