<div class="form-horizontal">
{% for comment in comments %}
{% set editActive = false %}
{% set user = appService.findUserById(comment.userId()) %}

    <div class="row" style="display: inline;">
        <div class="col-md-2" style="padding: 0px;">
            <div class="thumbnail" style="width: 100px; height: 100px; margin: 0px; float:right;">
                <img style="width: 80px; height: 80px;" class="img-responsive user-photo" src="/profile/image?id={{ comment.userId() }}">
            </div>
        </div>
        <div class="col-md-10" style="padding-right: 0px;">
            <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-heading">
                    <strong>{{ user.username() }}</strong>
                    <span class="text-muted">{{ comment.date() }}</span>

                    {% if comment.userId() == userId %}

                        <div style="float:right">
                            <form action="/comment/deleteComment" method="POST">

                                <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}"/>
                                <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}"/>
                                <input type="hidden" name="userId" value="{{ userId }}">
                                <input type="hidden" name="commentId" value="{{ comment.id() }}">
                                <button type="submit" class="btn-link glyphicon glyphicon-trash" onclick="return confirm('Soll der Kommentar wirklich gelöscht werden?')" aria-hidden="true"></button>

                            </form>
                        </div>

                        <div style="float:right">
                            <a data-parent="#wrap" data-toggle="collapse" data-target=".edit{{ comment.id() }}" class="glyphicon glyphicon-pencil"></a>
                        </div>

                    {% endif %}

                    <div style="float:right">
                      {% if comment.status() == constant('\\Jimdo\\Reports\\Reportbook\\Comment::STATUS_EDITED') %}
                        <span class="text-muted" style="margin-right:0.5em;">{{ viewHelper.getTranslationForStatus(comment.status()) }}</span>
                      {% endif %}
                    </div>

                </div>

                <div class="panel-body" id="wrap">

                  <div class="edit{{ comment.id() }} collapse in">
                    {{ comment.content()|raw }}
                  </div>

                    <div class="edit{{ comment.id() }} collapse">
                        <form action="/comment/editComment" method="POST" class="form-horizontal">

                            <div class="card card-block">
                                    <input type="hidden" name="reportId" value="{{ reportId }}">
                                    <input type="hidden" name="userId" value="{{ userId }}">
                                    <input type="hidden" name="commentId" value="{{ comment.id() }}">
                                    <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}">
                                    <textarea style="resize: none; height: 100px; overflow:scroll; border: none; box-shadow: none; padding: 0px;" name="newComment" class="form-control editable">{{ comment.content() }}</textarea>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="edit{{ comment.id() }} collapse form-group">
      <div  class="col-sm-offset-10 col-sm-2 ">
        <button class="btn btn-md btn-default btn-block" style="width: 160px; float: right;" type="submit">Speichern</button>
      </div>
    </div>
  </form>

{% endfor %}

    {% if showCreateCommentButton %}
        <p class="form-control-static">
            <button style="width: 160px; float: right;" class="btn btn-md btn-default btn-block" data-toggle="collapse" data-target="#createComment">Kommentar verfassen</button>
        </p>
    {% endif %}

    <br />

    <div class="form-group">
        <div class="collapse" id="createComment">
            <form action="/comment/createComment" method="POST" class="form-horizontal">
                <div class="card card-block">

                  <div class="col-sm-offset-2 col-sm-10">
                    <textarea  style="resize:none; height: 80px; overflow:scroll;" type="textarea" name="content" class="form-control editable medium-editor-textarea" id="createComment" rows="5" placeholder="Dein Kommentar"></textarea></br>
                      <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}" />
                      <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}" />
                      <button class="btn btn-md btn-default btn-block" style="width: 160px; float: right;" type="submit">Speichern</button>
                </div>
                </div>
            </form>
        </div>
    </div>

</div>
{% include 'MediumEditor.html' %}
