<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ tabTitle }}</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Medium Editor -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/medium-editor.min.css" media="screen">
<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="/assets/css/themes/beagle.min.css">

{% if layout == constant('\\Jimdo\\Reports\\Web\\ViewHelper::DARK_LAYOUT') %}
  <link rel="stylesheet" type="text/css" href="/assets/css/dark.css">
{% else %}
  <link rel="stylesheet" type="text/css" href="/assets/css/bright.css">
{% endif %}

</head>

<body>

{% if boxShadow %}
  <div class="container">
{% else %}
  <div class="container container-box">
{% endif %}
