<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ tabTitle }}</title>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">

<!-- Medium Editor -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/medium-editor.min.css" media="screen">
<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="/assets/css/themes/beagle.min.css">

<link rel="stylesheet" type="text/css" href="/assets/css/template.css">

</head>

<body style="background-color: white">

{% if boxShadow %}
  <div class="container">
{% else %}
  <div style="border-right: 1px solid #E7E7E7; box-shadow: 0px 4px 5px 2px rgba(217,217,217,0.5); padding: 0px; background-color: white;" class="container">
{% endif %}
