<nav class="navbar navbar-default" style="margin-bottom: 0px; border-radius: 0px; box-shadow: none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text"><strong style="font-size:1.2em;">berichtsheft.io</strong></p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span style="color: #337ab7;">KW 8</span></a></li>
      <li><a href="#"><span style="color: #337ab7;">Max Mustermann</span></a></li>
      <li><a href="#"><span style="color: #337ab7;" class="glyphicon glyphicon-glyphicon glyphicon-picture"></span></a></li>
      <li><a href="#"><span style="color: #337ab7;" class="glyphicon glyphicon-off"></span></a></li>
    </ul>
  </div>
</nav>
