{% include 'Header.html' %}
{% include 'InfobarView.html' %}
{% include 'NavbarView.html' %}

<h2>Dein Profil</h2>
<legend></legend>

{% for error in errorMessages %}
  <div class="alert alert-danger col-md-12" role="alert"><strong>{{ error }}</strong></div>
{% endfor %}

<div style="display: inline;">
<div style="float: right; width: 259;">
    <img src= "/profile/image?id={{ user.id() }}" alt="Profilbild" style="width:212px; height:212px; border:1px solid gray;">
    <a href="#changeImage" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>

    <br>

    <div class="collapse" id="changeImage">
        <form action="/user/upload" method="post" enctype="multipart/form-data">
            <label class="btn btn-default btn-file">
            Bild öffnen <input type="file" name="fileToUpload" id="fileToUpload" style="display: none;">
            </label>
            <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
            <input type="submit" value="Upload Image" name="submit" class="btn btn-primary">
        </form>
    </div>
</div>

<div style="float:left; width: 400px; border: 1px solid #E7E7E7; background-color: #f9f9f9"> <!-- Info div -->
<div class="col-md-8">
    <div class="col-md-10">
        <h4>Persönliche Daten</h4><br>
    </div>

    <div class="form-horizontal">

        <div class="form-group">

            <label class="col-md-6 control-label">Vorname</label>
            <div class="col-md-6">

                <p class="form-control-static">{{ profile.forename() }}
                    <a href="#changeForename" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                </p>
             </div>

             <div class="collapse" id="changeForename">
                 <form action="/user/changeForename" method="POST" class="form-horizontal">
                     <div class="card card-block">
                         <div class="col-md-offset-6 col-md-10">
                              <input type="text" name="forename" class="form-control" id="forename" placeholder="Neuer Vorname"></br>
                              <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                              <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                          </div>
                      </div>
                  </form>
            </div>
        </div>

        <div class="form-group">

            <label class="col-md-6 control-label">Nachname</label>
            <div class="col-md-6">

                <p class="form-control-static">{{ profile.surname() }}
                    <a href="#changeSurname" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                </p>
             </div>

             <div class="collapse" id="changeSurname">
                 <form action="/user/changeSurname" method="POST" class="form-horizontal">
                     <div class="card card-block">
                         <div class="col-md-offset-6 col-md-10">
                             <input type="text" name="surname" class="form-control" id="surname" placeholder="Neuer Nachname"></br>
                             <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                             <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                         </div>
                     </div>
                 </form>
             </div>

        </div>

        <div class="form-group">

            <label class="col-md-6 control-label">Geburtsdatum</label>
            <div class="col-md-6">

                <p class="form-control-static">{{ profile.dateOfBirth() }}
                    <a href="#changeDateOfBirth" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                </p>
             </div>

             <div class="collapse" id="changeDateOfBirth">
                 <form action="/user/changeDateOfBirth" method="POST" class="form-horizontal">
                     <div class="card card-block">
                         <div class="col-md-offset-6 col-md-10">
                             <input type="text" name="dateOfBirth" class="form-control" id="dateOfBirth" placeholder="Neues Geburtsdatum"></br>
                             <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                             <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                         </div>
                     </div>
                 </form>
             </div>

        </div>

        <div class="form-group">

            <label class="col-md-6 control-label">Benutzername</label>
            <div class="col-md-6">

                <p class="form-control-static">{{ user.username() }}
                    <a href="#changeUsername" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                </p>
             </div>

             <div class="collapse" id="changeUsername">
                 <form action="/user/changeUsername" method="POST" class="form-horizontal">
                     <div class="card card-block">
                         <div class="col-md-offset-6 col-md-10">
                             <input type="text" name="username" class="form-control" id="username" placeholder="Neuer Benutzername"></br>
                             <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                             <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                         </div>
                     </div>
                 </form>
             </div>

        </div>

        <div class="form-group">

            <label class="col-md-6 control-label">E-Mail</label>
            <div class="col-md-6">

                <p class="form-control-static">{{ user.email() }}
                    <a href="#changeEmail" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                </p>
             </div>

             <div class="collapse" id="changeEmail">
                 <form action="/user/changeEmail" method="POST" class="form-horizontal">
                     <div class="card card-block">
                         <div class="col-md-offset-6 col-md-10">
                             <input type="text" name="email" class="form-control" id="email" placeholder="Neue E-Mail"></br>
                             <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                             <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                         </div>
                     </div>
                 </form>
             </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="col-md-10">
        <h4>Betriebliche Daten</h4><br>
    </div>

    <div class="form-horizontal">

        <div class="form-group">

            <label class="col-md-6 control-label">Firma</label>
            <div class="col-md-6">

                <p class="form-control-static">{{ profile.company() }}
                    <a href="#changeCompany" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                </p>
             </div>

             <div class="collapse" id="changeCompany">
                 <form action="/user/changeCompany" method="POST" class="form-horizontal">
                     <div class="card card-block">
                         <div class="col-md-offset-6 col-md-10">
                             <input type="text" name="company" class="form-control" id="company" placeholder="Neue Firma"></br>
                             <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                             <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                         </div>
                     </div>
                 </form>
             </div>

        </div>

        <div class="form-group">

            <label class="col-md-6 control-label">Berufsbezeichung</label>
            <div class="col-md-6">

                <p class="form-control-static">{{ profile.jobTitle() }}
                    <a href="#changeJobTitle" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                </p>
             </div>

             <div class="collapse" id="changeJobTitle">
                 <form action="/user/changeJobTitle" method="POST" class="form-horizontal">
                     <div class="card card-block">
                         <div class="col-md-offset-6 col-md-10">
                             <input type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Neue Berufsbezeichung"></br>
                             <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                             <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                         </div>
                     </div>
                 </form>
             </div>

        </div>
    </div>
</div>

{% if isTrainee or isAdmin %}

    <div class="col-md-8">
        <div class="col-md-10">
            <h4>Schulische Daten</h4><br>
        </div>
        <div class="form-horizontal">

            <div class="form-group">

                <label class="col-md-6 control-label">Schule</label>
                <div class="col-md-6">

                    <p class="form-control-static">{{ profile.school() }}
                        <a href="#changeSchool" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                    </p>
                 </div>

                 <div class="collapse" id="changeSchool">
                     <form action="/user/changeSchool" method="POST" class="form-horizontal">
                         <div class="card card-block">
                             <div class="col-md-offset-6 col-md-10">
                                 <input type="text" name="school" class="form-control" id="school" placeholder="Neue Schule"></br>
                                 <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                                 <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                             </div>
                         </div>
                     </form>
                 </div>

            </div>

            <div class="form-group">

                <label class="col-md-6 control-label">Klasse</label>
                <div class="col-md-6">

                    <p class="form-control-static">{{ profile.grade() }}
                        <a href="#changeGrade" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                    </p>
                 </div>

                 <div class="collapse" id="changeGrade">
                     <form action="/user/changeGrade" method="POST" class="form-horizontal">
                         <div class="card card-block">
                             <div class="col-md-offset-6 col-md-10">
                                 <input type="text" name="grade" class="form-control" id="grade" placeholder="Neue Klasse"></br>
                                 <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                                 <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                             </div>
                         </div>
                     </form>
                 </div>

            </div>

            <div class="form-group">

                <label class="col-md-6 control-label">Ausbildungsbeginn</label>
                <div class="col-md-6">

                    <p class="form-control-static">{{ profile.startOfTraining() }}
                        <a href="#changeStartOfTraining" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                    </p>
                 </div>

                 <div class="collapse" id="changeStartOfTraining">
                     <form action="/user/changeStartOfTraining" method="POST" class="form-horizontal">
                         <div class="card card-block">
                             <div class="col-md-offset-6 col-md-10">
                                 <input type="text" name="startOfTraining" class="form-control" id="startOfTraining" placeholder="Neuer Ausbildungsbeginn"></br>
                                 <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                                 <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                             </div>
                         </div>
                     </form>
                 </div>

            </div>

            <div class="form-group">

                <label class="col-md-6 control-label">Ausbildungsjahr</label>
                <div class="col-md-6">

                    <p class="form-control-static">{{ profile.trainingYear() }}
                        <a href="#changeTrainingYear" data-toggle="collapse" class="glyphicon glyphicon-pencil"></a>
                    </p>
                 </div>

                 <div class="collapse" id="changeTrainingYear">
                     <form action="/user/changeTrainingYear" method="POST" class="form-horizontal">
                         <div class="card card-block">
                             <div class="col-md-offset-6 col-md-10">
                                 <input type="text" name="trainingYear" class="form-control" id="trainingYear" placeholder="Neues Ausbildungsjahr"></br>
                                 <input type="hidden" id="userId" name="userId" value="{{ user.id() }}" />
                                 <button class="btn btn-md btn-default btn-block" type="submit">Speichern</button>
                             </div>
                         </div>
                     </form>
                 </div>

            </div>
        </div>
    </div>

{% endif %}

</div> <!-- Close tag for info -->
</div>

</div> <!-- Close tag for content -->

{% include 'Footer.html' %}
