{% include 'HeaderView.html' %}
{% include 'InfobarView.html' %}
{% include 'NavbarView.html' %}

<div class="row">
    {% for error in errorMessages %}
            <div class="alert alert-danger col-md-10 col-md-offset-2" role="alert"><strong>{{ error }}</strong></div>
    {% endfor %}
</div>

<div class="view-report-heading">
  <h2> Bericht von {{ traineeName }} <small> KW {{ calendarWeek }} | {{ calendarYear }}</small></h2>
  <h3><span class="label label-primary">{{ category }}</span></h3>
</div>

<legend></legend>

<div class="scrollable">
  <div class="view-report-content">
      {{ content|raw }}
  </div>

    <br />
    <br />

  {% if statusButtons %}

      <form action="/report/approveReport" method="POST">
          <div class="col-md-2 col-md-offset-8">

          <input type="hidden" name="reportId" value="{{ reportId }}">
          <button type="submit" class="btn btn-primary button-medium"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Genehmigen</button>

          </div>
      </form>

      <form action="/report/disapproveReport" method="POST">
          <div class="col-md-1">

          <input type="hidden" name="reportId" value="{{ reportId }}">
          <button type="submit" class="btn btn-default button-medium"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Ablehnen</button>

          </div>
      </form>

      <br /><br />
  {% endif %}

  {% include 'CommentsView.html' %}

  <a href="/report/list">zurück zur Listenansicht</a>
</div>

</div> <!-- Close tag for content -->

{% include 'FooterView.html' %}
