{% include 'HeaderView.html' %}
{% include 'InfobarView.html' %}
{% include 'NavbarView.html' %}

<div class="row">
    {% for error in errorMessages %}
            <div class="alert alert-danger col-md-10 col-md-offset-2" role="alert"><strong>{{ error }}</strong></div>
    {% endfor %}
</div>

<div class="view-report-heading">
  <h2> Bericht von {{ traineeName }} <small> KW {{ calendarWeek }} | {{ calendarYear }}</small></h2>
  <h3><span class="label label-primary">{{ category }}</span></h3>
</div>

<legend></legend>

<div class="scrollable">
  <div class="view-report-content">
      {{ content|raw }}
  </div>

    <br />
    <br />

  {% if statusButtons %}

    <form action="/report/changeStatus" method="POST" class="col-md-12 float-right">
        <div class="col-md-12 trainer-checkbox">
            <div class="[ form-group ] float-right">
                <input {{ nextReport }} type="checkbox" name="nextReport" id="nextReport" autocomplete="off" />
                <div class="[ btn-group ]">
                    <label for="nextReport" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-ok ]"></span>
                        <span> </span>
                    </label>
                    <label for="nextReport" class="[ btn btn-default active ] check-next-report">
                        nächsten Bericht anzeigen
                    </label>
                </div>
            </div>
        </div>
        <div>
            <input type="hidden" name="reportId" value="{{ reportId }}">

            <div class="col-md-2 col-md-offset-8">

                <button type="submit" name="status" value="approve" class="btn btn-primary button-medium"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Genehmigen</button>

            </div>
            <div class="col-md-2">

                <button type="submit" name="status" value="disapprove" class="btn btn-default button-medium"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Ablehnen</button>

            </div>
        </div>
    </form>
    <!-- </div> -->

      <br /><br />
  {% endif %}

<legend></legend

  {% include 'CommentsView.html' %}

  <a href="/report/list">zurück zur Listenansicht</a>
</div>

</div> <!-- Close tag for content -->

{% include 'FooterView.html' %}
