{% include 'Header.html' %}
{% include 'InfobarView.html' %}
{% include 'NavbarView.html' %}

  <h2>{{ heading }}</h2>
  <legend></legend>

  {% for error in errorMessages %}
    <div class="alert alert-danger" role="alert"><strong>{{ error }}</strong></div>
  {% endfor %}

  <form action="{{ action }}" method="POST">
    <fieldset>

    <div class="row">
        <label class="col-md-2 control-label" for="calendarWeek">Kalenderwoche: </label>
        <div class="col-md-2">
            <input class="form-control" type="text" placeholder="Kalenderwoche"
            {{ readonly }} id="calendarWeek" name="calendarWeek" value="{{ calendarWeek }}"></br>
        </div>
    </div>

    <div class="row">
        <label class="col-md-2 control-label" for="calendarWeek">Kalenderjahr: </label>
        <div class="col-md-2">
            <input class="form-control" type="text"
            {{ readonly }} id="calendarYear" name="calendarYear" value="{{ calendarYear }}"></br>
        </div>
    </div>

    <div class="row">

        <label class="col-md-2 control-label" for="date">Kategorie: </label>
        <div class="col-md-3">

            <label class="radio-inline">
                <input {{ radioReadonly }} {{ isCompany }} type="radio" name="category" value="{{ constant('\\Jimdo\\Reports\\Reportbook\\Category::COMPANY') }}">Betrieb
            </label>
            <label class="radio-inline">
                <input {{ radioReadonly }} {{ isSchool }} type="radio" name="category" value="{{ constant('\\Jimdo\\Reports\\Reportbook\\Category::SCHOOL') }}">Schule
            </label>

        </div>
    </div>

    </br>

    <div class="row">
        <label class="col-md-2 control-label" for="calendarWeek">Bericht: </label>
        <div class="col-md-10">
            <textarea style="resize: none; height: 300px; overflow:scroll;"{{ readonly }} id="content" name="content" class="form-control editable">{{ content|raw }}</textarea></br>
        </div>
    </div>

    <div style="float: right;">
      <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}" />
      <button type="submit" style="width: 160px;" class="btn btn-primary">{{ buttonName }}</button>
    </div>

  </fieldset>
</form>

{% if comments is not null %}

{% include 'CommentsView.html' %}

{% endif %}

</div> <!-- Close tag for content -->

{% include 'MediumEditor.html' %}
{% include 'Footer.html' %}
