{% include 'Header.html' %}
{% include 'Infobar.html' %}

<form action="{{ action }}" method="POST">
  <fieldset>

    <div class="row">
        <legend>{{ legend }} {{ traineeName }} </legend>
    </div>

    <div class="row">
        {% for error in errorMessages %}
                <div class="alert alert-danger col-md-10 col-md-offset-2" role="alert"><strong>{{ error }}</strong></div>
        {% endfor %}
    </div>

    <div class="row">
        <label class="col-md-2 control-label" for="calendarWeek">Kalenderwoche: </label>
        <div class="col-md-1 col-md-offset-0">
            <input class="form-control" type="text" placeholder="Kalenderwoche"
            {{ readonly }} id="calendarWeek" name="calendarWeek" value="{{ calendarWeek }}"></br>
        </div>
    </div>

    <div class="row">
        <label class="col-md-2 control-label" for="calendarWeek">Kalenderjahr: </label>
        <div class="col-md-1 col-md-offset-0">
            <input class="form-control" type="text"
            {{ readonly }} id="calendarYear" name="calendarYear" value="{{ calendarYear }}"></br>
        </div>
    </div>

    <div class="row">

        <label class="col-md-2 control-label" for="date">Kategorie: </label>
        <div class="col-md-2 col-md-offset-0">

            <label class="radio-inline">
                <input {{ radioReadonly }} {{ isCompany }} type="radio" name="category" value="{{ constant('\\Jimdo\\Reports\\Reportbook\\Category::COMPANY') }}">Betrieb
            </label>
            <label class="radio-inline">
                <input {{ radioReadonly }} {{ isSchool }} type="radio" name="category" value="{{ constant('\\Jimdo\\Reports\\Reportbook\\Category::SCHOOL') }}">Schule
            </label>

        </div>
    </div>

    </br>

    <div class="row">
        <label class="col-md-2 control-label" for="calendarWeek">Bericht: </label>
        <div class="col-md-10 col-md-offset-0">
            <textarea style="resize: none; height: 300px; overflow:scroll;"{{ readonly }} id="content" name="content" class="form-control editable">{{ content }}</textarea></br>
        </div>
    </div>

    <div class="col-md-2 col-md-offset-10">
      {% if isTrainee %}
        {% if createButton %}
          <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}" />
          <button style="width: 175px;" type="submit" class="btn btn-primary col-md-1">{{ buttonName}}</button>
          </br></br></br>
        {% endif %}
      {% endif %}
    </div>

  </fieldset>
</form>

{% include 'MediumEditor.html' %}
{% include 'Footer.html' %}
