{% include 'HeaderView.html' %}
{% include 'InfobarView.html' %}
{% include 'NavbarView.html' %}

  <h2>Listenansicht der Berichte</h2>
  <legend></legend>
  <div class="table-reportbook-border scrollable">
  <table class="table-reportbook table table-hover">
      <tr>
          <th class="text-center">Vorschau</th>
          <th class="text-center">Kategorie <a href="/report/list?sort=category" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">KW <a href="/report/list?sort=calendarWeek" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">Status <a href="/report/list?sort=status" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">Kommentare <a href="/report/list?sort=comment" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">Aktionen</th>
      </tr>
      {% for report in reports %}
      {% set reportId = report.id() %}
      {% set traineeId = report.traineeId() %}
          <tr>
              <td class="text-center">{{ report.content()|slice(0, 20)|striptags }}</td>
              <td class="text-center">{{ viewHelper.getTranslationForCategory(report.category()) }}</td>
              <td class="text-center">{{ report.calendarWeek() }}</td>
              <td class="text-center">{{ viewHelper.getTranslationForStatus(report.status()) }}</td>
              <td class="text-center">{{ appService.findCommentsByReportId(reportId)|length }}</td>
                  <td>
                      <form action="/report/editReport" method="POST">

                        {% if report.status() != constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_APPROVED') and report.status() != constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_APPROVAL_REQUESTED') %}
                          <div class="col-md-1">
                              <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}"/>
                              <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}"/>
                              <button type="submit" class="btn-link glyphicon glyphicon-pencil"></button>
                          </div>
                        {% endif %}
                      </form>

                      <form action="/report/requestApproval" method="POST">
                        {% if report.status() != constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_DISAPPROVED')
                          and report.status() != constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_APPROVED')
                          and report.status() != constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_APPROVAL_REQUESTED') %}
                          <div class="col-md-1">
                              <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}"/>
                              <button type="submit" class="btn-link glyphicon glyphicon-send" onclick="return confirm('Soll der Bericht eingereicht werden?')" aria-hidden="true"></button>
                          </div>
                      </form>

                        <form action="/report/deleteReport" method="POST">
                          {% if report.status() != constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_REVISED') %}
                            <div class="col-md-1">
                                <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}"/>
                                <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}"/>
                                <button type="submit" class="btn-link glyphicon glyphicon-trash" onclick="return confirm('Soll der Bericht wirklich gelöscht werden?')" aria-hidden="true"></button>
                            </div>
                          {% endif %}

                        {% endif %}
                      </form>

                      <form action="/report/viewReport" method="POST">
                        {% if report.status() == constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_APPROVED')
                          or report.status() == constant('\\Jimdo\\Reports\\Reportbook\\Report::STATUS_APPROVAL_REQUESTED') %}
                              <div class="col-md-1">
                                  <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}"/>
                                  <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}"/>
                                  <button type="submit" class="btn-link glyphicon glyphicon-eye-open"></button>
                              </div>
                        {% endif %}
                      </form>
                  </td>
          </tr>
      {% endfor %}
  </table>
  </div>

  <div>
    {% if reports == [] %}
      <label>Keine Berichte gefunden</label>
    {% endif %}
  </div>

</div> <!-- Close tag for content -->

{% include 'FooterView.html' %}
