{% include 'HeaderView.html' %}
{% include 'InfobarView.html' %}
{% include 'NavbarView.html' %}

  <h2>Listenansicht der Berichte</h2>
  <legend></legend>
  <div class="table-reportbook-border scrollable">
  <table class="table-reportbook table table-hover">
      <tr>
          <th class="text-center">Name <a href="/report/list?sort=name" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center hidden-xs">Vorschau</th>
          <th class="text-center hidden-xs">Kategorie <a href="/report/list?sort=category" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">KW <a href="/report/list?sort=calendarWeek" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">Status <a href="/report/list?sort=status" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">Kommentare <a href="/report/list?sort=comment" type="submit" class="btn-link glyphicon glyphicon-chevron-down" aria-hidden="true"></a></th>
          <th class="text-center">Aktionen</th>
      </tr>
        {% for report in reports %}
          {% set reportId = report.id() %}
          {% set traineeId = report.traineeId() %}
          {% set profile = appService.findProfileByUserId(traineeId) %}
          {% set user = appService.findUserById(traineeId) %}
          <tr>
              <td class="text-center"><a href="/user/viewProfile?userId={{ user.id() }}">{{ profile.forename() }} {{ profile.surname() }}</a></td>
              <td class="text-center hidden-xs">{{ report.content()|slice(0, 20)|striptags }}</td>
              <td class="text-center hidden-xs">{{ viewHelper.getTranslationForCategory(report.category()) }}</td>
              <td class="text-center">{{ report.calendarWeek() }}</td>
              <td class="text-center">{{ viewHelper.getTranslationForStatus(report.status()) }}</td>
              <td class="text-center">{{ appService.findCommentsByReportId(reportId)|length }}</td>
              <td class="text-center">

                  <form action="/report/viewReport" method="POST">
                    <input type="hidden" id="reportId" name="reportId" value="{{ reportId }}"/>
                    <input type="hidden" id="traineeId" name="traineeId" value="{{ traineeId }}"/>
                    <button type="submit" class="btn-link glyphicon glyphicon-eye-open"></button>
                  </form>

              </td>
          </tr>
        {% endfor %}
  </table>

  <div>
    {% if reports == [] %}
      <label>Keine Berichte gefunden</label>
    {% endif %}
  </div>
  </div>

</div> <!-- Close tag for content -->

{% include 'FooterView.html' %}
