<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Berichtsheft</title>
</head>
<body>
  <div id="username">Angemeldet als: Jenny</div>
  <div id="role">Rolle: Auszubildender</div>

  <div id="logout">
    <a href="login.html">Abmelden</a>
  </div>

  <h1>Meine Wochenberichte</h1>

  <div id="calendar_week">Kalenderwoche: 32</div>

  <div id="report_list">
    <table>
      <tr>
        <th>Teaser</th>
        <th>Erstellungsdatum</th>
        <th>KW</th>
        <th>Status</th>
        <th>Aktionen</th>
      </tr>
      <tr>
        <td>Blablafaselblubb</td>
        <td>19.08.2016</td>
        <td>33</td>
        <td>Eingereicht</td>
        <td>
          <ul>
            <li>bearbeiten</li>
            <li>löschen</li>
            <li>einreichen</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Blablafaselblubb</td>
        <td>22.08.2016</td>
        <td>34</td>
        <td>Neu</td>
        <td>
          <ul>
            <li>bearbeiten</li>
            <li>löschen</li>
            <li>einreichen</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <div id="new_report">
    <a href="report.html">Neuen Bericht anlegen</a>
  </div>

</body>
</html>
